@tailwind base;
@tailwind components;
@tailwind utilities;



.rmdp-mobile {
  position: absolute !important;
  top: 40% !important;
}
.rmdp-input {

  border-radius: 9px !important;
  height: 38px  !important;
  width: 100%  !important;

}




.dark .leaflet-layer,

.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-control-zoom{
  display: none;
}

@font-face {
  font-family: iranYekan;
  src: url("../fonts/iranyekanwebregular(fanum).woff") format("opentype");
}



*{
  font-family: iranYekan !important;
}
.mapboxgl-map {
  height: 100vh !important;
}

.right-3 {
  right: unset;
  left: 0.75rem;
}



/* calender style */
.daysOfWeek {
  font-size: 12px;
}
.dayWrapper {
  font-size: 12px;
}
.rc-time-picker {
  font-size: 13px !important;
}
.heading .title {
  font-size: 14px !important;
}
.calendarContainer .jalaali{
  width: 270px;

  z-index: 50 !important;
  position: absolute;
  bottom:20px;
  right: 10px;

}
.truncate {
  text-align: right;
}
.rc-time-picker-panel-select li {
  text-align: center !important;

}
.calendarContainer .dayWrapper {
  margin-top: 0 !important;
}
.prev{
  display: none;
}
.next{
  display: none;
}

.jdp-year {
  font-size: 14px !important;
}

.jdp-month {
  font-size: 14px !important;
}

.jdp-icon-plus svg {
  width: 20px !important;
}
.jdp-icon-minus svg {
  width: 20px !important;
}

.jdp-day {
  font-size: 14px !important;
}

#profile-file-input{
  display: none;
}
